/*@media only screen and (max-width: 1020px),*/
/*(min-device-width: 1020px) and (max-device-width: 1235px)  {*/
/*    .menu-margin .navbar-nav {*/
/*        margin-right: 0px;*/
/*        margin-top: 0px;*/
/*    }*/
/*    .nav>li>a {*/
/*        padding: 6px 16px !important;*/
/*    }*/
/*    .currency-block {*/
/*        min-width: 249px;*/
/*    }*/
/*    .checkout-form-tab {*/
/*        padding-right: 0px;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 760px),*/
/*(min-device-width: 768px) and (max-device-width: 1029px)  {*/
/*    .menu-margin .navbar-nav {*/
/*        margin-right: 0px;*/
/*        margin-top: 0px;*/
/*    }*/
/*    .login-menu-button {*/
/*        width: fit-content;*/
/*        right: -15px;*/
/*    }*/
/*    .logo-main {*/
/*        height: 90px;*/
/*    }*/

/*    .nav>li>a {*/
/*        padding: 6px 16px !important;*/
/*    }*/
/*    .container .navbar-toggle {*/
/*        margin-top: 36px;*/
/*    }*/
/*    .sidebar {*/
/*        width: 40%;*/
/*    }*/
/*    .page_container {*/
/*        width: calc(100% - 40%);*/
/*    }*/
/*    .home_content {*/
/*        margin-right: 28px;*/
/*    }*/
/*    .sidebar_home_container {*/
/*        width: calc(100% - 5%);*/
/*    }*/
/*    !*how to order*!*/
/*    .contact-us-sidebar {*/
/*        margin-right: 40px;*/
/*    }*/
/*    .order-img-1{*/
/*        display: none;*/
/*    }*/
/*    .order-img-2 {*/
/*        height: auto;*/
/*        width: 100%;*/
/*    }*/
/*    .block-5-cont {*/
/*        margin-right: 0px;*/
/*    }*/
/*    .block-4 img {*/
/*        height: auto;*/
/*    }*/
/*    !*Rate Watch*!*/
/*    .watch-rate-block {*/
/*        flex-flow: column;*/
/*    }*/
/*    .currency-block {*/
/*        margin-bottom: 20px;*/
/*    }*/
/*    .sidebar-rate-form .check-container {*/
/*        text-align: left;*/
/*    }*/
/*    .checkmark {*/
/*        top: 8px;*/
/*    }*/
/*    !*Who Are We*!*/
/*    .who-we-cont {*/
/*        flex-direction: column-reverse;*/
/*    }*/
/*    !*login page*!*/
/*    .login-cont {*/
/*        height: auto;*/
/*    }*/
/*    .login-cont h1 {*/
/*        width: 47%;*/
/*        font-size: 27px;*/
/*    }*/
/*    .login-form-header {*/
/*        font-size: 9px;*/
/*    }*/
/*    a#login-form-link {*/
/*        font-size: 11px;*/
/*    }*/
/*    a#register-form-link {*/
/*        font-size: 11px;*/
/*    }*/
/*!*!*Contact us*!*!*/
/*    .contact-us {*/
/*        width: 51%;*/
/*        padding-right: 0px;*/
/*    }*/
/*    .sidebar_home_container h1 {*/
/*        margin-right: 0px;*/
/*    }*/
/*    .map {*/
/*        margin-top: 30px;*/
/*    }*/
/*    !*!*Menu*!*!*/
/*    !*.navbar-header {*!*/
/*        !*float: none;*!*/
/*    !*}*!*/
/*    !*.navbar-toggle {*!*/
/*        !*display: block;*!*/
/*    !*}*!*/
/*    !*.navbar-collapse {*!*/
/*        !*border-top: 1px solid transparent;*!*/
/*        !*box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);*!*/
/*    !*}*!*/

/*    !*.navbar-collapse.collapse {*!*/
/*        !*display: none!important;*!*/
/*    !*}*!*/
/*    !*.navbar-nav {*!*/
/*        !*float: none!important;*!*/
/*        !*margin-top: 7.5px;*!*/
/*    !*}*!*/
/*    !*.navbar-nav>li {*!*/
/*        !*float: none;*!*/
/*    !*}*!*/
/*    !*.navbar-nav>li>a {*!*/
/*        !*padding-top: 10px;*!*/
/*        !*padding-bottom: 10px;*!*/
/*    !*}*!*/
/*    !*.collapse.in{*!*/
/*        !*display:block !important;*!*/
/*    !*}*!*/
/*    !*checkout*!*/
/*    .checkout-form-tab {*/
/*        padding-right: 10px;*/
/*    }*/
/*    .price-block {*/
/*        min-width: auto;*/
/*    }*/
/*    .options-block {*/
/*        min-width: fit-content;*/
/*    }*/
/*    .info-title {*/
/*        text-align: left;*/
/*    }*/
/*}*/
/*!*mobil*!*/
@media only screen and (max-width: 767px) {
  li.profile_btn a{
    float: none;
  }
  li.profile_btn:after {
    content: ' ';
    margin: 0px;
  }
  .container {
    max-width: 100%;
  }
  .navbar {
    border: 0px;
  }
  .main_block {
    margin: 0px;
  }
  .main-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    height: 48px;
    background-color: #efeeee;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    margin-top: 0px;
  }
  ul#menu-menu-1 {
    background-color: #fff;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
  }
  .navbar-brand {
    display: block !important;
    padding: 0px;
  }
  .nav-link {
    padding-right: 5px;
    padding-left: 5px;
  }
  .navbar-brand img {
    height: 48px;
    margin-left: 22px;
  }
  .navbar-header {
    height: 48px;
    background-color: #efeeee;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  }
  button.navbar-toggle {
    margin-top: 7px;
  }
  div#bs-example-navbar-collapse-1 {
    width: 100%;
    background-color: #fff;
    margin: 0px;
  }
  .main-menu .navbar-nav li:after {
    content: '--';
  }
  .main-menu .navbar-nav li:last-of-type:after {
    content: '';
  }
  .login-menu-button {
    margin: 0 auto;
    width: 160px;
    margin-bottom: 24px;
    margin-top: 15px;
  }

  .logo {
    display: none;
  }
  .sidebar_terms {
    display: none;
  }
  .sidebar {
    width: 100%;
    min-height: 100%;
  }

  .page_container {
    width: 100%;
  }
  /*Home*/
  .sidebar_home_container h4 {
    margin-bottom: 16px;
  }
  .sidebar_home_container h1 {
    width: 276px;
    padding-right: 0px;
    font-size: 24px;
    line-height: 30px;
    margin-top: 16px;
  }
  .home_content {
    margin: 32px 0;
  }
  .select-group {
    margin: 0 22px;
    width: auto;
  }
  .select-group div {
    width: 100%;
  }
  .rate-value-block {
    flex-direction: column;
  }
  .rate-container {
    width: 100%;
    min-height: 79px;
  }
  .rate-block2 {
    height: 64px;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    margin-top: 24px;
  }

  .add-currency {
    display: flex;
    flex-direction: column;
    padding-right: 22px;
  }
  .started-block {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 22px;
  }

  .select-group-2 {
    margin-right: 0px;
  }
  .started-block button {
    margin-left: 22px;
    margin-top: 16px;
    width: 96%;
  }
  .vs-after {
    /* display: block; */
    background-color: #f6f6f6;
    content: url(../image/mob_icon.svg);
  }
  /*Rate Watch*/
  .watch-rate-block {
    flex-direction: column;
  }
  .currency-now-block {
    margin-top: 16px;
  }
  input.form-control.alerts-button {
    width: 100%;
  }
  .sidebar-rate-form input {
    max-width: 100%;
  }
  /*Login page*/
  .login-cont {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 40px;
    flex-direction: column;
  }
  .login-cont h1 {
    width: 80%;
    margin-top: 40px;
  }
  .login-cont img {
    max-width: 95%;
  }
  .form-name h1 {
    width: 100%;
  }
  .login-form {
    margin-right: 0px;
  }
  /*Who Are We*/
  .who-we-cont {
    height: auto;
    margin-top: 32px;
    flex-direction: column;
  }
  /*Contact page*/
  .form-contact {
    padding-right: 0px;
    margin-top: 55px;
  }
  .contact-cont {
    flex-direction: column;
    height: auto;
    margin-top: 30px;
    padding-left: 0px;
  }
  .contact-us {
    margin-bottom: 20px;
  }
  /*Blog page*/
  .page-title {
    margin-top: 75px;
  }
  #blog > div {
    margin-top: 16px;
  }
  /*checkout page*/
  .checkout-page {
    flex-direction: column;
  }
  .checkout-form-tab {
    max-width: 100%;
    padding-right: 0px;
  }
  .price-block {
    min-width: 100%;
  }
  .checkout-page.container {
    margin-top: 60px;
  }
  /*Single post*/
  .next-post {
    flex-direction: column;
  }
  .next-post img {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  li.profile_btn a{
    float: none;
  }
  li.profile_btn:after {
    content: ' ';
    margin: 0px;
  }
  .sidebar_home_container h1 {
    font-size: 24px;
     padding-right: 1px;
  }
  .order-title {
    padding-bottom: 4px;
  }
  .contact-us-sidebar {
     margin-right: 1px;
  }
  .block-4 img {
    height: auto;
  }
  .form-contact {
    padding-right: 0px;
  }
  .contact-cont {
    flex-direction: column;
     margin-top: 10px;
  }
  .contact-us {
    padding-bottom: 20px;
  }
  .who-we-cont {
     margin-top: 0px;
     height: auto;
     flex-direction: column-reverse;
  }
  .login-form {
   margin-right: 0px;
  }
  .login-cont {
     margin-left: 12px;
  }
  .post-cont {
    padding-right: 10px;
  }
  form.sidebar-rate-form {
     margin-right: 0px;
  }
}
