body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
  font-family: 'Muli', sans-serif;
}

.hide {
  display: none;
}
select input .form-control:focus {
  outline: none;
  box-shadow: none;
}
.form-control:focus {
  outline: none;
  border-color: #ccc;
  box-shadow: none;
}
button.navbar-toggle {
  margin-top: 32px;
}

[class*='col-'],
.container {
  padding-left: 12px;
  padding-right: 12px;
}

.main-content {
  overflow: hidden;
}

.row {
  margin-left: -12px;
  margin-right: -12px;
}

.main-contnent {
  overflow: hidden;
}
.error {
  color: red;
  font-size: 11px;
}
.req_error {
  border-color: red !important;
}
.error_req {
  font-size: 11px;
  color: red;
}
/*Menu*/
.main-margin-top {
  margin-top: 50px;
}

.main-menu ul li {
  background: transparent;
}

.main-menu ul li a {
  color: #666666;

  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}

.main-menu ul li a:hover {
  color: #ba9540;
  background: none;
}
.nav-link {
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar {
  padding: 0px;
}
.navbar-nav > li > a {
  /*padding-top: 0px;*/
  /*padding-bottom: 0px;*/
}

.login-menu-button > a {
  box-sizing: border-box;
  border: 1px solid #ba9540;
  border-radius: 5px;
  background-color: #ffffff;
  /*padding: -10px;*/
}
.login-menu-button .dropdown-menu {
  border: none !important;
  margin: 0 !important;
}
.dropdown-menu li a {
  color: #666666 !important;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}
.dropdown-menu li a:hover {
  color: #ba9540 !important;
}

.login-menu-button a {
  color: #ba9540 !important;
  padding: 13px 36px !important;
}

.home_rate_margin {
  margin-top: 144px;
}

.main-menu .navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: 0px;
}

.navbar-right {
  margin-right: 0px;
}

.navbar-toggle .icon-bar {
  color: #ba9540;
  background-color: #ba9540;
}

/*Sidebar*/
.sidebar {
  padding-bottom: 35px;
  min-height: 100vh;
  color: white;
  position: relative;
}

.sidebar.gray-bg:after {
  content: '';
  position: absolute;
  background: linear-gradient(225deg, #f2f2f2 0%, #e9e6e6 100%);
  width: 2000px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.header_img {
  color: white;
  background-image: url(../image/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
}

.sidebar_home_container {
}

.sidebar_home_container h1 {
  color: #666666;
  font-family: 'Muli';
  font-size: 32px;
  line-height: 40px;
  font-weight: 900;
  padding-right: 71px;
}

.sidebar_home_container h4 {
  font-weight: 100;
  margin-top: 36px;
  text-align: left;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 176px;
  font-weight: 100;
  color: #666666;
}

.sidebar_home_container h1 span {
  font-weight: 100;
  top: 36px;
  position: relative;
  text-align: left;
}

.logo {
  margin-top: 16px;
  height: 128px;
}

.logo-main {
  height: 128px;
}

.navbar-brand {
  height: auto !important;
}

.leaf {
  display: block;
  margin-top: 72px;
  width: fit-content;
}

.sidebar_terms {
  bottom: 16px;
  color: #666666;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 0;
  animation-fill-mode: both;
  margin-top: auto;
  position: absolute;
}

.sidebar_terms p {
  margin: 0px;
}

.mad-copy {
  font-weight: 100;
}

.page_arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 90px;
  margin-bottom: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #eeecec;
  text-align: center;
  color: #ccc;
  cursor: pointer;
}

.page_arrow i {
  padding: 13px;
}

.home_content {
  margin-left: 30px;
}
.star {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height: 40px;
  width: 40px;
  position: absolute;
  border-radius: 4px;
}
.select-group {
  box-sizing: border-box;
  height: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  position: relative;
  flex-direction: row;
  text-align: center;
  width: 276px;
}
.select-group input {
  width: 100%;
  position: absolute;
  height: 40px;
  border: 1px solid #ccc;
  padding-left: 40px;
  outline: none;
}
#zip {
  text-transform: uppercase;
}
.select-group-2 {
  box-sizing: border-box;
  height: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  position: relative;
  flex-direction: row;
  text-align: center;
  width: 243px;
  margin-right: 16px;
}

.select-group-2 select {
  content: '';
  border-radius: 0px;
  height: 40px;
  border: none;
  width: 243px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  border-radius: 4px;
  text-overflow: '';
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.select-group select {
  content: '';
  border-radius: 0px;
  height: 40px;
  border: none;
  width: 276px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 6px 40px;
}

.select-group-2 img {
  padding-left: 10px;
  padding-right: 10px;
}

.select-group img {
  padding-left: 10px;
  padding-right: 10px;
  z-index: 2;
}

.select-group .arrow {
  border: 1px solid #ba9540;
  border-radius: 4px;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 0px;
  padding: 0px 17px;
}

.select-group-2 .arrow {
  border: 1px solid #ba9540;
  transform: rotate(-90deg);
  border-radius: 4px;
  height: 40px;
  margin-left: -35px;
}

.equals_icon {
  border: 1px solid #ba9540;
  border-radius: 4px;
  height: 40px;
  margin-left: -32px;
  width: 40px;
  position: absolute;
  right: 0;
}

.rate-value-block {
  display: flex;
  margin-top: 25px;
}

.rate-container {
  min-height: 80px;
  width: 50%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  text-align: center;
  align-items: center;
  padding-left: 36px;
  padding-right: 36px;
  color: #373946;

  font-size: 24px;
}

.vs-after {
  /*display: block;*/
  background-color: #f6f6f6;
  content: url('../image/vs.svg');
}

.vs-after-2 {
  /*display: block;*/
  background-color: #f6f6f6;
  content: url('../image/vs.svg');
}

.rate-container p {
  height: 14px;
  width: 41px;
  color: #666666;
  font-size: 11px;
  line-height: 14px;
}

.flag-block {
  color: #666666;

  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-align: right;
}

.rate-block2 {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background-color: #373946;
  box-shadow: 0 2px 0 0 #000000;
  color: #ba9540;

  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  text-align: center;
  justify-items: center;
  align-items: center;
  padding-left: 36px;
  padding-right: 36px;
  margin-top: 16px;
}

.rate-value span {
  color: #c2c2c2;

  font-size: 12px;
}

.rate-value span:hover {
  color: #ffffff;
}

.add-currency {
  color: #c2c2c2;
  cursor: pointer;
  font-size: 12px;
  font-weight: 800;
  line-height: 15px;
  text-align: right;
  margin-top: 16px;
}

.add-currency span {
  color: #ba9540;
}

.started-block {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}

.started-block button {
  height: 40px;
  min-width: 140px;
  border-radius: 5px;
  background-color: #ba9540;
  color: #ffffff;

  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  border: none;
}
.from-select {
  border: none;
  outline: none;
  background-color: #f6f6f6;
}
#from-select:focus {
  outline: 0;
}
.currency-to-select {
  border: none;
  outline: none;
  background-color: #f6f6f6;
}
.currency-to-select:focus {
  outline: 0;
}
.sum {
  border-bottom: 1px solid #ccc;
  border-right: none;
  border-top: none;
  border-left: none;
  outline: none;
  background-color: #f6f6f6;
}
.currency-from-watch {
  border: none;
  outline: none;
  background-color: #f6f6f6;
}
.currency-to-watch {
  border: none;
  outline: none;
  background-color: #f6f6f6;
}

input#have-to {
  width: 100%;
  border: none;
  outline: rgba(0, 0, 0, 0);
  background-color: #f6f6f6;
  color: black;
}
/*Login page*/
.login-cont {
  display: flex;
  justify-items: normal;
  text-align: right;
  align-items: center;
  justify-content: center;
  margin-top: 122px;
  margin-left: 124px;
}

.login-cont img {
  max-width: 50%;
  height: auto;
}

.login-cont h1 {
  width: 50%;
  color: #373946;

  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
}

.login-cont h1 span {
  font-weight: normal;
  margin-top: 30px;
  display: block;
}

.login-form {
  margin-right: 36px;
  margin-top: 86px;
}

.login-form-header {
  justify-content: space-between;
  display: flex;
  justify-items: normal;
  text-align: right;
  align-items: center;
  /*height: 100%;*/
  color: #666666;

  font-size: 14px;
  line-height: 18px;
  margin-bottom: 48px;
}

.login-form-heade a {
  color: #ba9540;
  font-family: 'Muli';
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

.login-form-header h1 {
  margin: 0px;
  color: #373946;

  font-size: 32px;
  line-height: 40px;
}
.form-name h1 {
  padding: 0px;
}
a#register-form-link {
  color: #ba9540;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

a#login-form-link {
  color: #ba9540;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

.login-form label {
  color: #373946;
  font-size: 11px;
  line-height: 11px;
  height: 27px;
  display: flex;
  justify-items: normal;
  text-align: right;
  align-items: center;
  margin-bottom: 0;
}
.frm_primary_label {
  color: #373946;
  font-size: 11px;
  line-height: 11px;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}
.login-form input {
  box-sizing: border-box;
  height: 40.68px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
  color: #373946;

  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}

input#wp-submit {
  max-width: 120px;
  border-radius: 5px;
  background-color: #ba9540;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
}

.login-submit-block {
  display: flex;
  justify-items: normal;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 121px;
}

.remember-block {
  display: flex;
  justify-items: normal;
  align-items: center;
  justify-content: center;
}

.login-link {
  display: none;
}

input#register-submit {
  max-width: 120px;
  border-radius: 5px;
  background-color: #ba9540;
  color: #ffffff;

  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
}

.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #c2c2c2;
  box-sizing: border-box;
  /*height: 16px;*/
  /*width: 16px;*/
  border: 3px solid #fff;
  border-radius: 4px;
  outline: 2px solid #c2c2c2 !important;
}

.checkbox-login {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #c2c2c2;
  box-sizing: border-box;
  /*height: 16px;*/
  /*width: 16px;*/
  border: 3px solid #fff;
  border-radius: 4px;
  outline: 2px solid #c2c2c2 !important;
}
.checkbox-login:after {
  font-family: FontAwesome;
  content: '\f00c';
  left: 2px;
  top: 4px;
  width: 14px;
  height: 14px;
  -ms-transform: rotate(45deg);
  font-size: 19px;
  color: #fff;
}
.checkbox-login:after {
  /*content: "";*/
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkbox-login:after {
  display: block;
}

.check-container input:checked ~ .checkbox-login {
  background-color: #ba9540;
  height: 24px;
  width: 24px;
  border: 2px solid #ba9540;
  border-radius: 0px;
  outline: 2px solid #ba9540;
}
/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: #ba9540;
  height: 24px;
  width: 24px;
  border: 2px solid #ba9540;
  border-radius: 0px;
  outline: 2px solid #ba9540;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  content: '\f00c';
  font-family: FontAwesome;
  left: 2px;
  top: 2px;
  width: 14px;
  height: 14px;
  -ms-transform: rotate(45deg);
  font-size: 19px;
  color: #fff;
}

/*Rate Watch page*/
.sidebar-rate-form p {
  color: #373946;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.92px;
  line-height: 14px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.sidebar-rate-form .check-container {
  color: #373946;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  padding-left: 29px;
  height: 27px;
  display: flex;
  justify-items: normal;
  text-align: right;
  align-items: center;
}

.sidebar-rate-form label {
  color: #373946;
  font-size: 11px;
  line-height: 11px;
}

.sidebar-rate-form input {
  max-width: 276px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
  color: #373946;

  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  height: 48px;
}

input.form-control.alerts-button {
  box-sizing: border-box;
  height: 41px;
  width: 121px;
  border: 1px solid #ba9540;
  border-radius: 5px;
  background-color: #ffffff;
  color: #ba9540;

  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 97px;
}

.alarm-icon {
  display: block;
  margin-top: 74px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 15px;
  width: fit-content;
}

form.sidebar-rate-form {
  margin-right: 22px;
}

.watch-rate-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.check-cont {
  display: flex;
  justify-items: normal;
  text-align: right;
  align-items: center;
  margin-bottom: 24px;
}

.check-cont input {
  box-sizing: border-box;
  height: 40px;
  max-width: 101px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
  margin-left: 4px;
}

.check-cont label {
  color: #666666;

  font-size: 12px;
  margin-bottom: 0px;
}

.currency-block {
  height: 80px;
  min-width: 376px;
  border-radius: 5px;
  background-color: #f6f6f6;
  display: flex;
  justify-items: normal;
  align-items: center;
  color: #373946;

  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  justify-content: space-between;
}

.currency-now-block {
  height: 80px;
  min-width: 240px;
  border-radius: 5px;
  background-color: #373946;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.currency-cont {
  margin: 0 auto;
}

.currency-now-block span {
  color: #ba9540;

  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
}

.currency-now-block p {
  opacity: 0.9;
  color: #ffffff;

  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}

.now {
  height: 65%;
}

.now p {
  color: #ee5858;

  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}

.home_content h1 {
  color: #000000;

  font-size: 32px;
  line-height: 40px;
  margin-bottom: 50px;
  margin-top: 56px;
}

/*Blog Page*/

.blog-cont {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(225deg, #f2f2f2 0%, #e9e6e6 100%);
}

.post-cont {
  padding-left: 32px;
  padding-right: 78px;
}

.blog-title {
  margin-top: 16px;
  max-width: 251px;
  color: #373946;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 8px;
}

gR67r0k^ .blog-text {
  max-width: 266px;
  color: #666666;
  font-size: 12px;
  margin-top: 6px;
}

.blog-text p {
  margin-bottom: 0px;
  color: #666666;
  font-size: 12px;
  line-height: 24px;
}

.blog-img img {
  width: 100%;
  height: 200px;
}

.read-more-block {
  display: flex;
  margin-bottom: 10px;
}

.read-more {
  height: 40px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #ba9540;

  font-size: 12px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  color: #fff;
  list-style: none;
}

.read-more:hover {
  text-decoration: none;
  color: #fff;
}

.page-title {
  color: #373946;
  font-size: 32px;
  line-height: 40px;
  padding: 0;
  margin-bottom: 24px;
  margin-top: 16px;
}

.post-date {
  color: #ba9540;

  font-size: 12px;
  line-height: 30px;
  margin-bottom: 10px;
}

.display-flex {
  display: flex;
}

.post-publish-min {
  color: #7f7d7d;

  font-size: 12px;
  font-style: italic;
  line-height: 30px;
}

/*Who Are WE page*/

.who-we-cont {
  display: flex;
  justify-items: normal;
  text-align: left;
  align-items: center;
  justify-content: center;
  height: 62%;
  margin-left: 24px;
  margin-top: 80px;
}

.who-we-cont img {
  width: 50%;
  margin-top: 24px;
}

.who-we-are-text h1 {
  color: #373946;

  font-size: 32px;
  line-height: 40px;
  margin: 0px;
}

.who-we-are-text p {
  color: #666666;

  font-size: 12px;
  line-height: 24px;
  margin-top: 24px;
}

/*Contact Page*/
.wpcf7-response-output {
  display: none !important;
}
.form-contact h1 {
  margin-bottom: 24px;
  margin-top: 40px;
  color: #373946;

  font-size: 32px;
  line-height: 40px;
}

.form-contact {
  padding-right: 48px;
}

.form-contact > form > .form-group {
  margin-bottom: 24px !important;
}

.form-contact label {
  color: #373946;

  font-size: 11px;
  line-height: 11px;
}

.form-contact input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
  height: 40.68px;
}

#contact_bottom {
  margin-bottom: 44px;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background-color: #ba9540;
  color: #ffffff;

  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
}

.form-contact textarea {
  box-sizing: border-box;
  height: 120px !important;
  /*width: 328px;*/
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
}

.contact-cont {
  display: flex;
  padding-left: 24px;
  justify-content: space-between;
  height: 57%;
  margin-top: 90px;
}

.contact-cont h2 {
  color: #373946;

  font-size: 24px;
  line-height: 30px;
  margin-bottom: 40px;
}

.map img {
  height: auto;
  width: 100%;
}

.contact-us {
  /* width: 31%; */
  padding-right: 135px;
}

.contact-field {
  color: #666666;

  font-size: 18px;
  margin-top: 17px;
  display: flex;
}

.contact-field i {
  font-size: 18px;
  color: #ba9540;
  padding: 5px;
}

.social-icon {
  height: 40px;
  width: 40px;
  border: 1px solid #666;
  border-radius: 50%;
  margin-right: 24px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.social-icon i {
  color: #666666;
}

/*Single post page*/
.single-img img {
  width: 100%;
  max-height: 518px;
  object-fit: cover;
}

.single-post-block h1 {
  color: #373946;

  font-size: 32px;
  line-height: 30px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 24px;
}

.single-post-block p {
  max-width: 776px;
  color: #666666;

  font-size: 16px;
  line-height: 32px;
  margin: 0 auto;
}

.single-post-block blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #ba9540;
  color: #ba9540;

  font-size: 16px;
  line-height: 32px;
}

.single-post-block blockquote p {
  width: 100% !important;
  margin: 0px !important;
  max-width: 90%;
}

.single-post-date > div {
  text-align: right;
}

.single-post-block hr {
  margin: 0px;
}

.next-post {
  display: flex;
  height: 306px;
  margin-top: 136px;
}

.next-post img {
  height: auto;
  width: 50%;
}

.next-post-cont {
  padding-top: 54px;
  padding-right: 76px;
  padding-left: 64px;
  background: linear-gradient(225deg, #f2f2f2 0%, #e9e6e6 100%);
}

.next-post-cont h2 {
  color: #373946;

  font-size: 24px;
  line-height: 30px;
}

.next-post-cont p {
  color: #666666;

  font-size: 12px;
  line-height: 24px;
}

.next-post-link {
  display: block;
  height: 42px;
  width: 128px;
  color: #ffffff;

  font-size: 12px;
  font-weight: bold;
  padding: 12px 20px;
  line-height: 15px;
  text-align: center;
  background-color: #ba9540;
  margin-bottom: 51px;
}

/*Checkout page*/
.checkout-form-tab {
  max-width: 800px;
  padding-right: 223px;
}

.overflow-hidden {
  overflow: hidden;
}

.checkout-page {
  display: flex;
}

.summary-block {
  /*width: 35%;*/
  /*background: linear-gradient(225deg, #F2F2F2 0%, #E9E6E6 100%);*/
}

.summary-block:after {
  content: '';
  background: linear-gradient(225deg, #f2f2f2 0%, #e9e6e6 100%);
  position: absolute;
  width: 20000px;
  top: 0;
  bottom: 0px;
  left: 0px;
  right: 0;
  z-index: -2;
}

.checkout-block {
  /*display: flex;*/
  /*flex-flow: column;*/
  /*align-items: flex-end;*/
  /*padding-right: 24px;*/
  /*text-align: left;*/
  /*width: 64.8vw;*/
}

.checkout-title {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  max-width: 570px;
  margin-bottom: 40px;
}

.checkout-title p {
  margin: 0px;
  color: #666666;

  font-size: 14px;
  line-height: 18px;
}

.checkout-title h1 {
  margin: 0px;
  color: #373946;

  font-size: 32px;
  line-height: 40px;
}

.checkout-title > p > i {
  color: #ba9540;
}

.checkout-title > p > a {
  color: #ba9540;
}

.checkout-title i {
  margin-right: 5px;
  margin-left: 5px;
}

img.star-code {
  position: absolute;
  top: 26px;
  left: 27px;
  z-index: 2;
  display: block;
  width: 16px;
  height: 32px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}

i.fa.fa-eye {
  position: absolute;
  top: 25px;
  right: 21px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
  color: #b69344;
}

i.fa.fa-equals {
  position: absolute;
  bottom: 16px;
  right: 12px;
  z-index: 2;
  display: block;
  width: 38px;
  height: 41px;
  line-height: 38px;
  text-align: center;
  pointer-events: none;
  color: #b69344;
  border: 1px solid;
  border-radius: 4px;
}

.postal-code {
  padding-left: 28px !important;
  text-transform: uppercase;
}

.summary-form {
  padding-left: 32px;
  padding-top: 80px;
}

.summary-form h4 {
  margin: 0px;
  padding-bottom: 49px;
  color: #000000;

  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.92px;
  line-height: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.summary-form > div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  padding-bottom: 20px;
}

.summary-form > div > p {
  color: #000000;

  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  margin: 0px;
}

.summary-form > div > span {
  color: #000000;

  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

.total-block {
  border: none !important;
  color: #000000;

  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
}

.agree-checkbox > .check-container {
  margin: 0px;
  padding-left: 31px;
}

.agree-checkbox > .check-container > .checkmark {
  top: 5px;
}

.agree-checkbox {
  margin-top: 40px;
  min-height: 72px;
  padding-left: 32px;
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  align-items: center;
  justify-content: center;
}

.agree-checkbox > label {
  color: #000000;

  font-size: 12px;
  line-height: 18px;
}

.agree-checkbox > label > a {
  color: #ba9540;

  font-size: 12px;
  text-decoration: underline !important;
}

.summary-submit {
  margin-top: 32px;
  padding-left: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.summary-submit > button {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  background-color: #ba9540;
  color: #ffffff;

  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  border: none;
}

.make-change {
  color: #000000;

  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}

.make-change i {
  margin-right: 15px;
}

.checkout-form-tab label {
  /*height: 11px;*/
  /*width: 49.6px;	*/
  color: #373946;

  font-size: 11px;
  line-height: 11px;
}

.checkout-form-tab input {
  box-sizing: border-box;
  height: 40.68px;
  /*width: 275px;*/
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
}

.checkout-form-tab select {
  box-sizing: border-box;
  height: 40.68px;
  /*width: 275px;*/
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
}

.form-subtitle {
  color: #000000;

  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.92px;
  line-height: 14px;
  margin-bottom: 16px;
}

.checkbox-lable {
  color: #ba9540;

  font-size: 12px;
  font-weight: bold;
  line-height: 19px;
  float: right;
  min-width: 163px;
}

.address-2 {
  margin-top: 29px;
  margin-bottom: 20px;
}

#tabs {
  border: 1px solid #ba9540;
  margin-bottom: 39px;
}

#tabs li {
  float: left;
  width: 50%;
  height: 30px;
  color: #ba9540;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  display: flex;
  justify-items: normal;
  text-align: center;
  align-items: center;
}

#tabs li a {
  color: #ba9540;
  padding: 8px 15px;
  width: 100%;
  text-decoration: none;
}

#tabs li a:hover {
  background-color: #ba9540 !important;
  color: #fff;
}

li.active {
  background-color: #ba9540;
}

#tabs .active a {
  color: #fff;
  background-color: transparent;
}

.slideThree {
  box-sizing: border-box;
  height: 24px;
  width: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  background-color: #ba9540;
  position: relative;
  border-radius: 50px;
  float: right;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
    0px 1px 0px rgba(255, 255, 255, 0.2);
}

.slideThree:after {
  /*content: 'OFF';*/
  background-color: #000;
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}

.slideThree:before {
  /*content: 'ON';*/
  background-color: #0a246a;
  color: #27ae60;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}

.slideThree label {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  transition: all 0.4s ease;
  height: 16px;
  width: 16px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 2px 20px 0 rgba(0, 50, 255, 0.29);
}

.slideThree input[type='checkbox'] {
  visibility: hidden;
}

.slideThree input[type='checkbox']:checked + label {
  left: 21px;
}

.options-block {
  margin-top: 40px;
  /*min-width: 800px;*/
}

.options-block h3 {
  color: #000000;

  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.92px;
  line-height: 14px;
}

.price-cont {
  display: flex;
  flex-wrap: wrap;
}

.price-block {
  padding: 25px 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  min-width: 235px;
}

.price-block:hover {
  border: 1px solid #ba9540;
}

.price-block:hover > h1,
span {
  /*color: #BA9540 ;*/
}

.price-block:hover > span {
  color: #ba9540;
}

.price-block h1 {
  color: #000000;

  font-size: 24px;
  line-height: 30px;
  opacity: 0.9;
}

.price-block span {
  color: #000000;

  font-size: 14px;
  font-weight: 900;
  line-height: 18px;
}

.price-block p {
  color: #858585;

  font-size: 11px;
  line-height: 14px;
}

/*Privacy Policy page*/
.privacy-cont {
  margin-left: 124px;
  margin-top: 88px;
}

.privacy-cont h1 {
  color: #373946;

  font-size: 32px;
  line-height: 40px;
  margin-top: 0px;
  margin-bottom: 39.5px;
}

.info-block {
  border-top: 1px solid #e4e4e4;
  height: 68px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  text-align: center;
  align-items: center;
}

.icon-block {
  color: #666666;

  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.92px;
  line-height: 14px;
  box-shadow: none !important;
}

.info-title {
  color: #666666;

  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.92px;
  line-height: 14px;
}

.info-text {
  color: #666666;

  font-size: 12px;
  line-height: 24px;
  display: none;
}

.policy-sidebar {
  margin-top: 112px;
  margin-bottom: 252px;
}

.policy-title {
  margin-top: 16px;
  padding-right: 172px;
  color: #666666;

  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}

.policy-title:hover {
  padding-left: 24px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 4px 0 0 4px;
  background-color: #ffffff;
  color: #373946;
}

/*Terms Page*/
.terms-sidebar {
  margin-top: 88px;
  margin-bottom: 182px;
}

.terms-title {
  color: #666666;

  font-size: 12px;
  line-height: 15px;
  padding-right: 90px;
  margin-top: 16px;
}

.terms-title:hover {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-radius: 4px 0 0 4px;
  background-color: #ffffff;
  color: #373946;
}

.terms-cont {
  margin-top: 48px;
  margin-left: 124px;
}

.terms-cont h1 {
  color: #373946;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 21.5px;
}

/*How to order*/
.order-sidebar {
  margin-top: 50px;
}

.order-sidebar h1 {
  margin-top: 0px;
  margin-bottom: 32px;
  margin-right: 0px;
  color: #373946;

  font-size: 32px;
  line-height: 40px;
  font-weight: unset;
}

.order-title {
  color: #666666;
  font-size: 12px;
  line-height: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}

.order-title:hover {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-radius: 4px 0 0 4px;
  background-color: #d4d4d4;
  color: #373946;
  margin-right: -12px;
}
.order-title:focus {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-radius: 4px 0 0 4px;
  background-color: #d4d4d4;
  color: #373946;
  margin-right: -12px;
}

.contact-us-sidebar {
  margin-top: 56px;
  margin-bottom: 77px;
  margin-right: 201px;
}

.contact-us-sidebar p {
  color: #666666;

  font-size: 12px;
  line-height: 18px;
  margin-bottom: 24px;
}

.send-email {
  color: #373946;

  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}

.send-email i {
  margin-right: 10px;
}

.bg-overlay:after {
  content: '';
  position: absolute;
  width: 2000px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(194, 194, 194, 0.7);
  z-index: -1;
}

.block-opacity {
  opacity: 0.3;
}

.box-shadow {
  box-shadow: 0 0 24px 0 #ffffff;
  transition: all 1s;
}

.block-5 {
  display: none;
}

.block-5-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 64px;
}

.order-img-1 {
  height: auto;
  min-width: 100%;
  margin-left: -12px;
}

.order-img-2 {
  height: 654px;
  min-width: 50%;
}

.block-4 {
  display: none;
}

.block-4 img {
  width: 100%;
  height: 100vh;
}
.description {
  color: #ffffff;
  background-color: #98989c;
  font-family: Muli;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  text-align: justify;
  border: 2px solid #dfdfdf;
  padding: 10px;
  display: none;
}

/*Footer*/
.privacy-link {
  color: #666666;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 13px;
  margin-bottom: 16px;
  font-family: Muli;
  letter-spacing: 1px;
  line-height: 13px;
}
.privacy-link a {
  color: #666666;
}
.copyright {
  color: #666666;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 13px;
  font-weight: normal;
}
.copyright a {
  color: #666666;
}
footer {
  margin-top: 80px;
  margin-bottom: 16px;
}
#rate-block .delete-btn {
  display: none;
}
.delete-btn {
  position: absolute;
  right: 20px;
  height: 16px;
  cursor: pointer;
  z-index: 100000;
  color: #ccc;
  padding: 4px 10px;
  /*display: none;*/
}
li.profile_btn a{
  float: left;
}
li.profile_btn:after{
  content: '|';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 12px 0px 0px 0px;
  text-decoration: none;
  position: absolute;
  font-size: 15px;
  font-weight: bold;
}
button#submit_equifax {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  background-color: #ba9540;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  border: none;
}
input.chack-answer {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  background-color: #ba9540;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  border: none;
}
select.province {
  height: 40.68px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
select.province_b {
  height: 40.68px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
input[type="date"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
